services:
  backend:
    build:
      context: Backend
      dockerfile: Dockerfile
    links:
      - db
    depends_on:
      - db
    restart: unless-stopped
    volumes:
      - './dev/certs:/certs:ro'
  web:
    build:
      context: WebClient
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    links:
      - backend
    restart: unless-stopped
  db:
    image: "postgres:alpine"
    environment:
      POSTGRES_USER: "AfraAppUser"
      POSTGRES_PASSWORD: "AfraAppPassword"
      POSTGRES_DB: "afra-app"
    #volumes:
    #  - './storage/db:/var/lib/postgresql/data'
    restart: unless-stopped
