@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import '@nuxt/ui';

@theme {
    --font-sans: 'Inter', 'Noto Sans', 'Lato', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
    --font-serif: 'Noto Serif', serif;

    --color-blue-50: #f2f7fb;
    --color-blue-100: #c2dbed;
    --color-blue-200: #91bedf;
    --color-blue-300: #61a1d1;
    --color-blue-400: #3085c2;
    --color-blue-500: #0068b4;
    --color-blue-600: #005899;
    --color-blue-700: #00497e;
    --color-blue-800: #003963;
    --color-blue-900: #002a48;
    --color-blue-950: #001a2d;
}

:root {
    --ui-container: 60rem;
}

@layer base {
    h1 {
        @apply text-3xl font-bold my-4;
    }

    h2 {
        @apply text-2xl font-bold my-3;
    }

    h3 {
        @apply text-lg font-semibold mt-2 mb-1;
    }

    main p {
        @apply my-2;
    }

    footer {
        word-spacing: 0.2rem;
    }

    footer i {
        font-size: 0.8rem;
    }

    .m-trim *:first-child {
        @apply mt-0;
    }

    .m-trim *:last-child {
        @apply mb-0;
    }

    body:has(.impersonation-tag) {
        @apply m-[1rem];

        &::after {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            pointer-events: none;
            @apply border-[1rem] border-red-500;
        }
    }
}

@layer theme {
    th.afra-col-action .p-datatable-column-header-content,
    td.afra-col-action .p-inputgroup {
        justify-content: flex-end;
    }

    td.afra-col-action {
        text-align: right;
    }

    .danger {
        color: var(--p-button-text-danger-color);
    }
}
