name: backend

permissions:
  contents: read
  pull-requests: read

on:
  push:
    branches: [ "*" ]
    paths:
      - 'Backend/**'
  pull_request:
    branches: [ "*" ]
    paths:
      - 'Backend/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore Backend/Afra-App.slnx
    - name: Build
      run: dotnet build --no-restore Backend/Altafraner.AfraApp/Altafraner.AfraApp.csproj
