name: Build Docker Images

permissions:
  contents: read
  pull-requests: read

on:
  push:
    branches: [ "main" ]
    paths:
      - 'Backend/**'
      - 'WebClient/**'
      - 'compose.yaml'
      - '.dockerignore'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'Backend/**'
      - 'WebClient/**'
      - 'compose.yaml'
      - '.dockerignore'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: build backend image
      run: docker build Backend
    - name: build frontend image
      run: docker build WebClient
    - name: build compose
      run: docker compose build
